{% load i18n static url_translations wagtailcore_tags userindicator base_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% load_site_menu "topmenu" as top_menu_items %}

<nav class="navbar navbar-expand-lg navbar-light navbar-default fixed-top main-menu" aria-label="{% trans 'main menu' %}" id="main-menu">
    <div class="container">
        <a class="navbar-brand" href="/{{ LANGUAGE_CODE }}/">
          <img
              class="navbar-brand-logo"
              alt="Opin"
              src="{% static 'images/logo.svg' %}"
          >
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="{% trans 'navigation on/off' %}">
            <i class="fas fa-bars"></i>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse ml-auto">
            {% userindicator_menu %}

            <ul class="navbar-nav navbar-right ml-auto">
                <li class="nav-item dropdown language-selector" id="language-selector">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ LANGUAGE_CODE }} <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                    {% get_available_languages as languages %}
                    {% for lang_code, lang_name in languages %}
                        {% if lang_code != LANGUAGE_CODE %}
                            <a class="dropdown-item" href="{% translate_url lang_code %}">{{ lang_code }}</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </li>
                {% for menuitem in top_menu_items %}
                <li class="nav-item">
                    <a href="{{ menuitem.url }}" class="nav-link {% if request.path == menuitem.url %} is-active{% endif %}">{{ menuitem.translated_menu_title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
